---
layout: default
title: "Home"
---

<h1>Eliana Bower</h1>

<div class="three">
    {% for experience in site.data.experiences %}
    <div class="box">
        <h4>
            <strong>{{ experience.title }} - {{ experience.where }}</strong><br />
            <i>{{ experience.duration.start }} - {{ experience.duration.end }}</i>
        </h4>
        <ul>
            {% for duty in experience.duties %}
            <li>{{ duty }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<img src="https://i.pinimg.com/originals/ee/98/b5/ee98b56495a02cab661d278a22d2a303.jpg">