<div class="title">
    <div class="banner">
        <div class="name">
            <h1><span class="a" onclick="baby();">E</span>liana Bower</h1>
        </div>
        
        <div class="contact">
            <div class="block">
                <p>{{ site.data.contact.location }}</p>
                <p>{{ site.data.contact.phone }}</p>
            </div>
    
            <div class="block">
                <p>
                    <a href="mailto:{{ site.data.contact.email }}">
                        {{ site.data.contact.email }}
                    </a>
                </p>
    
                <p>
                    <a href="https://{{ site.data.contact.linkedin}}" target="_blank">
                        {{ site.data.contact.linkedin }}
                    </a>
                </p>
            </div>
        </div>
    </div>

    <hr/>
</div>