body,
html {
    margin-top: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: justify;
}

img {
    max-width: 100%;
}

#content {
    max-width: 632px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.experience {
    justify-content: center;
    margin-bottom: 16px;
}

.experience .box {
    margin: 5px;
    text-align: left;
    border: black 1px;
}

.experience .box > ul {
    list-style-type: "–  ";
    padding-left: 15px;
    margin-top: 0px;
}
